In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [80]:
data = pd.read_csv("https://raw.githubusercontent.com/chitoge729/Datasets/main/hotel_bookings.csv")

In [81]:
data.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [82]:
data.isnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [83]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,07-01-2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,07-01-2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,07-02-2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,07-02-2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,07-03-2015

In [84]:
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [85]:
data.hotel

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object

In [86]:
data.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [87]:
data.notnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119386,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119387,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119388,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119389,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True

In [88]:
data.head(50)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,07-01-2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,07-01-2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,07-02-2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,07-02-2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,07-03-2015
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,07-03-2015
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,07-03-2015
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,07-03-2015
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,05-06-2015
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,4/22/2015
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,6/23/2015
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,07-05-2015
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,07-05-2015
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,07-05-2015
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,07-05-2015
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,07-05-2015
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,07-05-2015
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,07-02-2015
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,07-02-2015
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,07-05-2015
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,No Deposit,241.0,NaN,0,Transient,97.29,0,1,Check-Out,07-06-2015
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,07-07-2015
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,07-07-2015
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,07-07-2015
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,07-01-2015
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,07-08-2015
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,07-08-2015
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,05-11-2015
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,94.00,0,0,Check-Out,07-08-2015
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,87.30,1,1,Check-Out,07-08-2015
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,No Deposit,NaN,NaN,0,Transient,62.00,0,2,Check-Out,7/15/2015
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,...,No Deposit,241.0,NaN,0,Transient,63.86,0,0,Check-Out,7/16/2015
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.30,0,2,Canceled,5/29/2015
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,...,No Deposit,175.0,NaN,0,Transient,65.50,0,0,Check-Out,07-08-2015
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Canceled,5/19/2015
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Canceled,6/19/2015
36,Resort Hotel,0,15,2015,July,27,2,1,3,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,0,Check-Out,07-06-2015
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Check-Out,07-06-2015
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,...,No Deposit,241.0,NaN,0,Transient,108.80,0,0,Canceled,5/23/2015
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,07-07-2015
40,Resort Hotel,1,45,2015,July,27,2,2,3,2,...,No Deposit,241.0,NaN,0,Transient,117.81,0,0,Canceled,5/18/2015
41,Resort Hotel,0,45,2015,July,27,2,2,3,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,07-07-2015
42,Resort Hotel,0,16,2015,July,27,2,2,3,2,...,No Deposit,NaN,NaN,0,Transient,123.00,0,0,Check-Out,07-07-2015
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,07-07-2015
44,Resort Hotel,0,107,2015,July,27,2,2,5,2,...,No Deposit,240.0,NaN,0,Transient,110.70,0,2,Check-Out,07-09-2015
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,No Deposit,240.0,NaN,0,Transient,153.00,0,0,Canceled,06-02-2015
46,Resort Hotel,0,96,2015,July,27,2,2,5,2,...,No Deposit,134.0,NaN,0,Transient,58.95,0,1,Check-Out,07-09-2015
47,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,No Deposit,156.0,NaN,0,Transient-Party,82.88,0,2,Check-Out,07-09-2015
48,Resort Hotel,0,90,2015,July,27,2,2,5,2,...,No Deposit,243.0,NaN,0,Contract,82.35,0,0,Check-Out,07-09-2015
49,Resort Hotel,0,50,2015,July,27,2,2,5,2,...,No Deposit,241.0,NaN,0,Transient,119.35,0,1,Check-Out,07-09-2015

In [89]:
data.tail(50)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119340,City Hotel,0,110,2017,August,35,29,0,5,2,...,No Deposit,14.0,NaN,0,Transient,171.00,0,2,Check-Out,09-03-2017
119341,City Hotel,0,181,2017,August,35,29,0,5,1,...,No Deposit,9.0,NaN,0,Transient,126.90,0,2,Check-Out,09-03-2017
119342,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,09-03-2017
119343,City Hotel,0,149,2017,August,35,30,0,4,2,...,No Deposit,28.0,NaN,0,Transient,84.60,0,0,Check-Out,09-03-2017
119344,City Hotel,0,31,2017,August,35,31,0,3,2,...,No Deposit,9.0,NaN,0,Transient,152.67,0,1,Check-Out,09-03-2017
119345,City Hotel,0,194,2017,August,35,31,0,3,2,...,No Deposit,9.0,NaN,0,Transient,99.00,0,0,Check-Out,09-03-2017
119346,City Hotel,0,45,2017,August,35,27,2,5,2,...,No Deposit,9.0,NaN,0,Transient,183.86,0,2,Check-Out,09-03-2017
119347,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,09-03-2017
119348,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,09-03-2017
119349,City Hotel,0,186,2017,August,35,31,0,3,2,...,No Deposit,9.0,NaN,0,Transient,126.00,0,2,Check-Out,09-03-2017
119350,City Hotel,0,286,2017,August,35,30,0,4,2,...,No Deposit,9.0,NaN,0,Transient,112.05,0,3,Check-Out,09-03-2017
119351,City Hotel,0,72,2017,August,35,31,0,3,2,...,No Deposit,14.0,NaN,0,Transient,134.82,0,1,Check-Out,09-03-2017
119352,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,09-03-2017
119353,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,09-03-2017
119354,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,09-03-2017
119355,City Hotel,0,111,2017,August,35,29,1,5,1,...,No Deposit,14.0,NaN,0,Transient,135.00,0,2,Check-Out,09-04-2017
119356,City Hotel,0,111,2017,August,35,29,1,5,2,...,No Deposit,14.0,NaN,0,Transient,135.00,0,1,Check-Out,09-04-2017
119357,City Hotel,0,47,2017,August,35,31,1,3,1,...,No Deposit,423.0,NaN,0,Transient,91.02,0,0,Check-Out,09-04-2017
119358,City Hotel,0,135,2017,August,35,30,1,4,2,...,No Deposit,14.0,NaN,0,Transient,143.10,0,1,Check-Out,09-04-2017
119359,City Hotel,0,63,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,133.50,0,1,Check-Out,09-04-2017
119360,City Hotel,0,195,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,117.00,0,1,Check-Out,09-04-2017
119361,City Hotel,0,100,2017,August,35,31,1,3,2,...,No Deposit,16.0,NaN,0,Transient,95.85,0,0,Check-Out,09-04-2017
119362,City Hotel,0,198,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,119.17,0,2,Check-Out,09-04-2017
119363,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,92.17,0,1,Check-Out,09-04-2017
119364,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,92.17,0,2,Check-Out,09-04-2017
119365,City Hotel,0,54,2017,August,35,27,3,5,1,...,No Deposit,14.0,NaN,0,Transient,266.75,0,1,Check-Out,09-04-2017
119366,City Hotel,0,210,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,85.59,0,1,Check-Out,09-04-2017
119367,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,85.59,0,0,Check-Out,09-04-2017
119368,City Hotel,0,261,2017,August,35,30,1,4,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,09-04-2017
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,No Deposit,14.0,NaN,0,Transient,96.25,0,2,Check-Out,09-04-2017
119370,City Hotel,0,201,2017,August,35,30,1,4,1,...,No Deposit,9.0,NaN,0,Transient,108.00,0,2,Check-Out,09-04-2017
119371,City Hotel,0,175,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,2,Check-Out,09-04-2017
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,09-04-2017
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,09-04-2017
119374,City Hotel,0,201,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,117.00,0,2,Check-Out,09-04-2017
119375,City Hotel,0,200,2017,August,35,30,1,4,2,...,No Deposit,16.0,NaN,0,Transient,85.50,0,1,Check-Out,09-04-2017
119376,City Hotel,0,165,2017,August,35,29,1,5,3,...,No Deposit,9.0,NaN,0,Transient,209.25,0,3,Check-Out,09-04-2017
119377,City Hotel,0,185,2017,August,35,30,1,4,2,...,No Deposit,9.0,NaN,0,Transient,99.00,0,1,Check-Out,09-04-2017
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,0,Check-Out,09-04-2017
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,155.00,0,1,Check-Out,09-04-2017
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,140.75,0,1,Check-Out,09-04-2017
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,09-05-2017
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,No Deposit,7.0,NaN,0,Transient,209.00,0,0,Check-Out,09-05-2017
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,No Deposit,42.0,NaN,0,Transient,87.60,0,0,Check-Out,09-06-2017
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,2,Check-Out,09-06-2017
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,09-06-2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,09-07-2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,09-07-2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,09-07-2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,09-07-2017

In [90]:
data.isna()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [91]:
data.loc[23:217]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,07-07-2015
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,07-01-2015
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,07-08-2015
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,07-08-2015
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,05-11-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Resort Hotel,1,113,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,1,Canceled,5/28/2015
214,Resort Hotel,0,5,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,146.00,0,1,Check-Out,07-12-2015
215,Resort Hotel,0,83,2015,July,28,8,0,4,2,...,No Deposit,105.0,NaN,0,Transient,110.70,0,1,Check-Out,07-12-2015
216,Resort Hotel,1,105,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,73.80,0,1,Canceled,6/29/2015
217,Resort Hotel,0,0,2015,July,28,8,0,1,1,...,No Deposit,146.0,NaN,0,Transient,61.00,0,0,Check-Out,07-09-2015

In [92]:
data.iloc[23:217]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,07-07-2015
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,07-01-2015
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,07-08-2015
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,07-08-2015
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,05-11-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Resort Hotel,0,1,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,131.00,1,1,Check-Out,07-12-2015
213,Resort Hotel,1,113,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,1,Canceled,5/28/2015
214,Resort Hotel,0,5,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,146.00,0,1,Check-Out,07-12-2015
215,Resort Hotel,0,83,2015,July,28,8,0,4,2,...,No Deposit,105.0,NaN,0,Transient,110.70,0,1,Check-Out,07-12-2015
216,Resort Hotel,1,105,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,73.80,0,1,Canceled,6/29/2015

In [93]:
data_new = data.loc[23:217]
data_new

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,07-07-2015
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,07-01-2015
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,07-08-2015
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,07-08-2015
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,05-11-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Resort Hotel,1,113,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,1,Canceled,5/28/2015
214,Resort Hotel,0,5,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,146.00,0,1,Check-Out,07-12-2015
215,Resort Hotel,0,83,2015,July,28,8,0,4,2,...,No Deposit,105.0,NaN,0,Transient,110.70,0,1,Check-Out,07-12-2015
216,Resort Hotel,1,105,2015,July,28,8,0,4,2,...,No Deposit,240.0,NaN,0,Transient,73.80,0,1,Canceled,6/29/2015
217,Resort Hotel,0,0,2015,July,28,8,0,1,1,...,No Deposit,146.0,NaN,0,Transient,61.00,0,0,Check-Out,07-09-2015

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [95]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 23 to 217
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           195 non-null    object
 1   is_canceled                     195 non-null    int64
 2   lead_time                       195 non-null    int64
 3   arrival_date_year               195 non-null    int64
 4   arrival_date_month              195 non-null    object
 5   arrival_date_week_number        195 non-null    int64
 6   arrival_date_day_of_month       195 non-null    int64
 7   stays_in_weekend_nights         195 non-null    int64
 8   stays_in_week_nights            195 non-null    int64
 9   adults                          195 non-null    int64
 10  children                        195 non-null    float64
 11  babies                          195 non-null    int64
 12  meal                            195 non-null    object
 13  country                         194 non-null    object
 14  market_segment                  195 non-null    object
 15  distribution_channel            195 non-null    object
 16  is_repeated_guest               195 non-null    int64
 17  previous_cancellations          195 non-null    int64
 18  previous_bookings_not_canceled  195 non-null    int64
 19  reserved_room_type              195 non-null    object
 20  assigned_room_type              195 non-null    object
 21  booking_changes                 195 non-null    int64
 22  deposit_type                    195 non-null    object
 23  agent                           181 non-null    float64
 24  company                         0 non-null      float64
 25  days_in_waiting_list            195 non-null    int64
 26  customer_type                   195 non-null    object
 27  adr                             195 non-null    float64
 28  required_car_parking_spaces     195 non-null    int64
 29  total_of_special_requests       195 non-null    int64
 30  reservation_status              195 non-null    object
 31  reservation_status_date         195 non-null    object
dtypes: float64(4), int64(16), object(12)
memory usage: 48.9+ KB

In [96]:
data.info     #Gives dataset info

<bound method DataFrame.info of                hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit    NaN     NaN
1                          0       2  ...    No Deposit    NaN     NaN
2                          1       1  ...    No Deposit    NaN     NaN
3                          1       1  ...    No Deposit  304.0     NaN
4                          2       2  ...    No Deposit  240.0     NaN
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0     NaN
119386                     5       3  ...    No Deposit    9.0     NaN
119387                     5       2  ...    No Deposit    9.0     NaN
119388                     5       2  ...    No Deposit   89.0     NaN
119389                     7       2  ...    No Deposit    9.0     NaN

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out              07-01-2015
1                Check-Out              07-01-2015
2                Check-Out              07-02-2015
3                Check-Out              07-02-2015
4                Check-Out              07-03-2015
...                    ...                     ...
119385           Check-Out              09-06-2017
119386           Check-Out              09-07-2017
119387           Check-Out              09-07-2017
119388           Check-Out              09-07-2017
119389           Check-Out              09-07-2017

[119390 rows x 32 columns]>

In [97]:
data_new.info()     #Gives dataset structure

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 23 to 217
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           195 non-null    object
 1   is_canceled                     195 non-null    int64
 2   lead_time                       195 non-null    int64
 3   arrival_date_year               195 non-null    int64
 4   arrival_date_month              195 non-null    object
 5   arrival_date_week_number        195 non-null    int64
 6   arrival_date_day_of_month       195 non-null    int64
 7   stays_in_weekend_nights         195 non-null    int64
 8   stays_in_week_nights            195 non-null    int64
 9   adults                          195 non-null    int64
 10  children                        195 non-null    float64
 11  babies                          195 non-null    int64
 12  meal                            195 non-null    object
 13  country                         194 non-null    object
 14  market_segment                  195 non-null    object
 15  distribution_channel            195 non-null    object
 16  is_repeated_guest               195 non-null    int64
 17  previous_cancellations          195 non-null    int64
 18  previous_bookings_not_canceled  195 non-null    int64
 19  reserved_room_type              195 non-null    object
 20  assigned_room_type              195 non-null    object
 21  booking_changes                 195 non-null    int64
 22  deposit_type                    195 non-null    object
 23  agent                           181 non-null    float64
 24  company                         0 non-null      float64
 25  days_in_waiting_list            195 non-null    int64
 26  customer_type                   195 non-null    object
 27  adr                             195 non-null    float64
 28  required_car_parking_spaces     195 non-null    int64
 29  total_of_special_requests       195 non-null    int64
 30  reservation_status              195 non-null    object
 31  reservation_status_date         195 non-null    object
dtypes: float64(4), int64(16), object(12)
memory usage: 48.9+ KB

In [98]:
data_new.hotel   #To display columns

23     Resort Hotel
24     Resort Hotel
25     Resort Hotel
26     Resort Hotel
27     Resort Hotel
           ...
213    Resort Hotel
214    Resort Hotel
215    Resort Hotel
216    Resort Hotel
217    Resort Hotel
Name: hotel, Length: 195, dtype: object

In [99]:
data_new["hotel"]    #To display particular columns

23     Resort Hotel
24     Resort Hotel
25     Resort Hotel
26     Resort Hotel
27     Resort Hotel
           ...
213    Resort Hotel
214    Resort Hotel
215    Resort Hotel
216    Resort Hotel
217    Resort Hotel
Name: hotel, Length: 195, dtype: object

In [100]:
data_new[['hotel','meal']]   #To display particular columns

            hotel meal
23   Resort Hotel   BB
24   Resort Hotel   HB
25   Resort Hotel   BB
26   Resort Hotel   BB
27   Resort Hotel   BB
..            ...  ...
213  Resort Hotel   BB
214  Resort Hotel   BB
215  Resort Hotel   BB
216  Resort Hotel   BB
217  Resort Hotel   BB

[195 rows x 2 columns]

In [101]:
list1 = ['hotel', 'meal']

In [102]:
data_new[list1]

            hotel meal
23   Resort Hotel   BB
24   Resort Hotel   HB
25   Resort Hotel   BB
26   Resort Hotel   BB
27   Resort Hotel   BB
..            ...  ...
213  Resort Hotel   BB
214  Resort Hotel   BB
215  Resort Hotel   BB
216  Resort Hotel   BB
217  Resort Hotel   BB

[195 rows x 2 columns]

In [103]:
data_new_rc = data.iloc[12:45, 1:6]     #create data_frame for particular rows and columns
data_new_rc

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number
12,0,68,2015,July,27
13,0,18,2015,July,27
14,0,37,2015,July,27
15,0,68,2015,July,27
16,0,37,2015,July,27
17,0,12,2015,July,27
18,0,0,2015,July,27
19,0,7,2015,July,27
20,0,37,2015,July,27
21,0,72,2015,July,27
22,0,72,2015,July,27
23,0,72,2015,July,27
24,0,127,2015,July,27
25,0,78,2015,July,27
26,0,48,2015,July,27
27,1,60,2015,July,27
28,0,77,2015,July,27
29,0,99,2015,July,27
30,0,118,2015,July,27
31,0,95,2015,July,27
32,1,96,2015,July,27
33,0,69,2015,July,27
34,1,45,2015,July,27
35,1,40,2015,July,27
36,0,15,2015,July,27
37,0,36,2015,July,27
38,1,43,2015,July,27
39,0,70,2015,July,27
40,1,45,2015,July,27
41,0,45,2015,July,27
42,0,16,2015,July,27
43,0,70,2015,July,27
44,0,107,2015,July,27

In [104]:
data_new_rc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 12 to 44
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   is_canceled               33 non-null     int64
 1   lead_time                 33 non-null     int64
 2   arrival_date_year         33 non-null     int64
 3   arrival_date_month        33 non-null     object
 4   arrival_date_week_number  33 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.4+ KB

In [105]:
data= data.drop(['arrival_date_year'], axis=1)
data

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,July,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,07-01-2015
1,Resort Hotel,0,737,July,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,07-01-2015
2,Resort Hotel,0,7,July,27,1,0,1,1,0.0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,07-02-2015
3,Resort Hotel,0,13,July,27,1,0,1,1,0.0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,07-02-2015
4,Resort Hotel,0,14,July,27,1,0,2,2,0.0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,07-03-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,August,35,30,2,5,2,0.0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,09-06-2017
119386,City Hotel,0,102,August,35,31,2,5,3,0.0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,09-07-2017
119387,City Hotel,0,34,August,35,31,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,09-07-2017
119388,City Hotel,0,109,August,35,31,2,5,2,0.0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,09-07-2017
119389,City Hotel,0,205,August,35,29,2,7,2,0.0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,09-07-2017

In [106]:
data['hotel']='Resort Hotel'

In [107]:
data['age']=55

In [108]:
data['family'] = data['age'] + 34

In [109]:
data

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,age,family
0,Resort Hotel,0,342,July,27,1,0,0,2,0.0,...,NaN,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89
1,Resort Hotel,0,737,July,27,1,0,0,2,0.0,...,NaN,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89
2,Resort Hotel,0,7,July,27,1,0,1,1,0.0,...,NaN,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89
3,Resort Hotel,0,13,July,27,1,0,1,1,0.0,...,NaN,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89
4,Resort Hotel,0,14,July,27,1,0,2,2,0.0,...,NaN,0,Transient,98.00,0,1,Check-Out,07-03-2015,55,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Resort Hotel,0,23,August,35,30,2,5,2,0.0,...,NaN,0,Transient,96.14,0,0,Check-Out,09-06-2017,55,89
119386,Resort Hotel,0,102,August,35,31,2,5,3,0.0,...,NaN,0,Transient,225.43,0,2,Check-Out,09-07-2017,55,89
119387,Resort Hotel,0,34,August,35,31,2,5,2,0.0,...,NaN,0,Transient,157.71,0,4,Check-Out,09-07-2017,55,89
119388,Resort Hotel,0,109,August,35,31,2,5,2,0.0,...,NaN,0,Transient,104.40,0,0,Check-Out,09-07-2017,55,89
119389,Resort Hotel,0,205,August,35,29,2,7,2,0.0,...,NaN,0,Transient,151.20,0,2,Check-Out,09-07-2017,55,89

In [117]:
data['age'].dtypes

dtype('int64')

In [121]:
data['Arrival'] = np.where(data['lead_time']<50, 'On time', 'Late')
data

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,age,family,Arrival
0,Resort Hotel,0,342,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
1,Resort Hotel,0,737,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
2,Resort Hotel,0,7,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89,On time
3,Resort Hotel,0,13,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89,On time
4,Resort Hotel,0,14,July,27,1,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,07-03-2015,55,89,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Resort Hotel,0,23,August,35,30,2,5,2,0.0,...,0,Transient,96.14,0,0,Check-Out,09-06-2017,55,89,On time
119386,Resort Hotel,0,102,August,35,31,2,5,3,0.0,...,0,Transient,225.43,0,2,Check-Out,09-07-2017,55,89,Late
119387,Resort Hotel,0,34,August,35,31,2,5,2,0.0,...,0,Transient,157.71,0,4,Check-Out,09-07-2017,55,89,On time
119388,Resort Hotel,0,109,August,35,31,2,5,2,0.0,...,0,Transient,104.40,0,0,Check-Out,09-07-2017,55,89,Late
119389,Resort Hotel,0,205,August,35,29,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,09-07-2017,55,89,Late

In [120]:
data['adr'].unique

<bound method Series.unique of 0           0.00
1           0.00
2          75.00
3          75.00
4          98.00
           ...
119385     96.14
119386    225.43
119387    157.71
119388    104.40
119389    151.20
Name: adr, Length: 119390, dtype: float64>

In [125]:
data['lead_time']>23

0          True
1          True
2         False
3         False
4         False
          ...
119385    False
119386     True
119387     True
119388     True
119389     True
Name: lead_time, Length: 119390, dtype: bool

In [126]:
data.lead_time>23

0          True
1          True
2         False
3         False
4         False
          ...
119385    False
119386     True
119387     True
119388     True
119389     True
Name: lead_time, Length: 119390, dtype: bool

In [127]:
data[data['lead_time']>23]     #To display particular data according to the condition

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,age,family,Arrival
0,Resort Hotel,0,342,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
1,Resort Hotel,0,737,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
8,Resort Hotel,1,85,July,27,1,0,3,2,0.0,...,0,Transient,82.00,0,1,Canceled,05-06-2015,55,89,Late
9,Resort Hotel,1,75,July,27,1,0,3,2,0.0,...,0,Transient,105.50,0,0,Canceled,4/22/2015,55,89,Late
11,Resort Hotel,0,35,July,27,1,0,4,2,0.0,...,0,Transient,145.00,0,0,Check-Out,07-05-2015,55,89,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119383,Resort Hotel,0,164,August,35,31,2,4,2,0.0,...,0,Transient,87.60,0,0,Check-Out,09-06-2017,55,89,Late
119386,Resort Hotel,0,102,August,35,31,2,5,3,0.0,...,0,Transient,225.43,0,2,Check-Out,09-07-2017,55,89,Late
119387,Resort Hotel,0,34,August,35,31,2,5,2,0.0,...,0,Transient,157.71,0,4,Check-Out,09-07-2017,55,89,On time
119388,Resort Hotel,0,109,August,35,31,2,5,2,0.0,...,0,Transient,104.40,0,0,Check-Out,09-07-2017,55,89,Late
119389,Resort Hotel,0,205,August,35,29,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,09-07-2017,55,89,Late

In [141]:
data_pc = data[(data['lead_time']>200) | (data['lead_time']<20)]       # \ for OR   & for AND
data_pc

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,age,family,Arrival
0,Resort Hotel,0,342,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
1,Resort Hotel,0,737,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
2,Resort Hotel,0,7,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89,On time
3,Resort Hotel,0,13,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89,On time
4,Resort Hotel,0,14,July,27,1,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,07-03-2015,55,89,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119369,Resort Hotel,0,207,August,34,25,3,7,2,0.0,...,0,Transient,96.25,0,2,Check-Out,09-04-2017,55,89,Late
119370,Resort Hotel,0,201,August,35,30,1,4,1,0.0,...,0,Transient,108.00,0,2,Check-Out,09-04-2017,55,89,Late
119374,Resort Hotel,0,201,August,35,29,1,5,2,0.0,...,0,Transient,117.00,0,2,Check-Out,09-04-2017,55,89,Late
119378,Resort Hotel,0,247,August,35,31,1,3,2,0.0,...,0,Transient,86.85,0,0,Check-Out,09-04-2017,55,89,Late
119389,Resort Hotel,0,205,August,35,29,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,09-07-2017,55,89,Late

In [146]:
def func1(woohoo):
  woohoo=woohoo*2
  return woohoo

In [155]:
data['lead_time']=data['lead_time'].apply(func1)
data

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,age,family,Arrival
0,Resort Hotel,0,1368,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
1,Resort Hotel,0,2948,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,55,89,Late
2,Resort Hotel,0,28,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89,On time
3,Resort Hotel,0,52,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,55,89,On time
4,Resort Hotel,0,56,July,27,1,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,07-03-2015,55,89,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Resort Hotel,0,92,August,35,30,2,5,2,0.0,...,0,Transient,96.14,0,0,Check-Out,09-06-2017,55,89,On time
119386,Resort Hotel,0,408,August,35,31,2,5,3,0.0,...,0,Transient,225.43,0,2,Check-Out,09-07-2017,55,89,Late
119387,Resort Hotel,0,136,August,35,31,2,5,2,0.0,...,0,Transient,157.71,0,4,Check-Out,09-07-2017,55,89,On time
119388,Resort Hotel,0,436,August,35,31,2,5,2,0.0,...,0,Transient,104.40,0,0,Check-Out,09-07-2017,55,89,Late
119389,Resort Hotel,0,820,August,35,29,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,09-07-2017,55,89,Late

In [163]:
data['age'] = data['age'].apply(lambda x: x*2)
data

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,age,family,Arrival
0,Resort Hotel,0,1368,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,220,89,Late
1,Resort Hotel,0,2948,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,220,89,Late
2,Resort Hotel,0,28,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,220,89,On time
3,Resort Hotel,0,52,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,220,89,On time
4,Resort Hotel,0,56,July,27,1,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,07-03-2015,220,89,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Resort Hotel,0,92,August,35,30,2,5,2,0.0,...,0,Transient,96.14,0,0,Check-Out,09-06-2017,220,89,On time
119386,Resort Hotel,0,408,August,35,31,2,5,3,0.0,...,0,Transient,225.43,0,2,Check-Out,09-07-2017,220,89,Late
119387,Resort Hotel,0,136,August,35,31,2,5,2,0.0,...,0,Transient,157.71,0,4,Check-Out,09-07-2017,220,89,On time
119388,Resort Hotel,0,436,August,35,31,2,5,2,0.0,...,0,Transient,104.40,0,0,Check-Out,09-07-2017,220,89,Late
119389,Resort Hotel,0,820,August,35,29,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,09-07-2017,220,89,Late

In [164]:
data['Arrival'] = data['Arrival'].map({'On time': 0, 'Late': 1})
data

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,age,family,Arrival
0,Resort Hotel,0,1368,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,220,89,1
1,Resort Hotel,0,2948,July,27,1,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,07-01-2015,220,89,1
2,Resort Hotel,0,28,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,220,89,0
3,Resort Hotel,0,52,July,27,1,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,07-02-2015,220,89,0
4,Resort Hotel,0,56,July,27,1,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,07-03-2015,220,89,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Resort Hotel,0,92,August,35,30,2,5,2,0.0,...,0,Transient,96.14,0,0,Check-Out,09-06-2017,220,89,0
119386,Resort Hotel,0,408,August,35,31,2,5,3,0.0,...,0,Transient,225.43,0,2,Check-Out,09-07-2017,220,89,1
119387,Resort Hotel,0,136,August,35,31,2,5,2,0.0,...,0,Transient,157.71,0,4,Check-Out,09-07-2017,220,89,0
119388,Resort Hotel,0,436,August,35,31,2,5,2,0.0,...,0,Transient,104.40,0,0,Check-Out,09-07-2017,220,89,1
119389,Resort Hotel,0,820,August,35,29,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,09-07-2017,220,89,1