<a href="https://colab.research.google.com/github/chitoge729/TE_DSBDA/blob/main/DSBDA_Asgn_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/chitoge729/Datasets/main/insurance%20(2).csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
df.info

<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [8]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
df.shape

(1338, 7)

In [10]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [12]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [13]:
len(df.columns)

7

In [14]:
df['smoker'].replace(['no','yes'],[0,1], inplace = False)

0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: smoker, Length: 1338, dtype: int64

In [23]:
df = df.rename(columns= {'bmi':'bmi_index'}, inplace= False)

In [24]:
display(df)

      age     sex  bmi_index  children smoker     region      charges
0      19  female     27.900         0    yes  southwest  16884.92400
1      18    male     33.770         1     no  southeast   1725.55230
2      28    male     33.000         3     no  southeast   4449.46200
3      33    male     22.705         0     no  northwest  21984.47061
4      32    male     28.880         0     no  northwest   3866.85520
...   ...     ...        ...       ...    ...        ...          ...
1333   50    male     30.970         3     no  northwest  10600.54830
1334   18  female     31.920         0     no  northeast   2205.98080
1335   18  female     36.850         0     no  southeast   1629.83350
1336   21  female     25.800         0     no  southwest   2007.94500
1337   61  female     29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [26]:
df.count()

age          1338
sex          1338
bmi_index    1338
children     1338
smoker       1338
region       1338
charges      1338
dtype: int64

In [28]:
df.max()

age                   64
sex                 male
bmi_index          53.13
children               5
smoker               yes
region         southwest
charges      63770.42801
dtype: object

In [29]:
df.min()

age                 18
sex             female
bmi_index        15.96
children             0
smoker              no
region       northeast
charges      1121.8739
dtype: object

In [30]:
df.iloc[4]

age                 32
sex               male
bmi_index        28.88
children             0
smoker              no
region       northwest
charges      3866.8552
Name: 4, dtype: object

In [31]:
df.iloc[2:567]

     age     sex  bmi_index  children smoker     region      charges
2     28    male     33.000         3     no  southeast   4449.46200
3     33    male     22.705         0     no  northwest  21984.47061
4     32    male     28.880         0     no  northwest   3866.85520
5     31  female     25.740         0     no  southeast   3756.62160
6     46  female     33.440         1     no  southeast   8240.58960
..   ...     ...        ...       ...    ...        ...          ...
562   27    male     30.500         0     no  southwest   2494.02200
563   50    male     44.770         1     no  southeast   9058.73030
564   18  female     32.120         2     no  southeast   2801.25880
565   19  female     30.495         0     no  northwest   2128.43105
566   38  female     40.565         1     no  northwest   6373.55735

[565 rows x 7 columns]

In [32]:
df.loc[2:567]

     age     sex  bmi_index  children smoker     region      charges
2     28    male     33.000         3     no  southeast   4449.46200
3     33    male     22.705         0     no  northwest  21984.47061
4     32    male     28.880         0     no  northwest   3866.85520
5     31  female     25.740         0     no  southeast   3756.62160
6     46  female     33.440         1     no  southeast   8240.58960
..   ...     ...        ...       ...    ...        ...          ...
563   50    male     44.770         1     no  southeast   9058.73030
564   18  female     32.120         2     no  southeast   2801.25880
565   19  female     30.495         0     no  northwest   2128.43105
566   38  female     40.565         1     no  northwest   6373.55735
567   41    male     30.590         2     no  northwest   7256.72310

[566 rows x 7 columns]

In [34]:
df.loc[:,'children']

0       0
1       1
2       3
3       0
4       0
       ..
1333    3
1334    0
1335    0
1336    0
1337    0
Name: children, Length: 1338, dtype: int64